
/* Links about flexbox and more:
Link: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items

Very good link on how flexbox works 
Link1: https://css-tricks.com/snippets/css/a-guide-to-flexbox/

Links on how to divide a page (padding, margin, flex etc.):
Link: https://css-tricks.com/boxes-fill-height-dont-squish/
Link1: https://stackoverflow.com/questions/37431563/flexbox-body-and-main-min-height
Link2: http://bl.ocks.org/jfsiii/5380802


Very strong inspiration to flexbox sub-layout. An interactive website where 
you can test different flex-box layouts 
Link: https://flexbox.help/
*/



/*.box {
    
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;    
}*/

/*
.container {
    
    flex-direction: column;
    display: inline-flex;
    width: 100%;
    height: 100%;
    margin: 0;
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
    width: 100%;
   

    
    

       
      
    
    
    
    
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    display: flex;
    flex-basis: auto;
    align-content: space-between;
}
*/


.menu{
    display: flex;
    /*align-items: center;*/
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
    height: 50px;
    margin-bottom: 10px;
    /* makes the elements not overlap, like the table and the "menu" button
    Link: https://www.samanthaming.com/tidbits/95-fix-text-overlap-with-css-white-space/*/
    
    
}
/* changing the appearance of the calender to the same as the "select" element.
The CSS code can be found when inspecting the "selector" element */
.dateRange{
  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(206, 212, 218);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(206, 212, 218);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(206, 212, 218);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


}

/* "form-selector" is the form list (class name can be found in inspector mode)
by changing the padding of the "selector" element the dropdown will have the same
size as the calender*/
.form-selector{
    padding:0;
}
.col00{
    display: flex;
    max-width: 200px;
    max-height: 50px;
    
}
.col01{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 50px;
    margin-left: 5px;
    
}


.row1 {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: stretch;
    
}
.col10 {
    /*display: flex;*/
    min-height: 45%;
    min-width: 45%;
}
.col11 {
    /*display: flex;*/
    min-height: 45%;
    min-width: 45%;
}

.row2 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
    
}

.col20 {
    /*display: flex;*/
    min-height: 45%;
    min-width: 30%;
}
/* "colxx" contains the card with mean speed etc.*/
.col21 {
    /*display: flex;*/
    min-height: 45%;
    min-width: 30%;
}

.col22 {
    /*display: flex;*/
    min-height: 45%;
    min-width: 30%;
}

.row3 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: flex-end;
	align-content: stretch;
    margin-top: 20px;
}

.col30 {
    /*display: flex;*/
    min-height: 45%;
    min-width: 45%;
}

.col31 {
    /*display: flex;*/
    min-height: 45%;
    min-width: 45%;
}
/*
.row22 {
    display: flex;
    min-height: 45%;
    min-width: 45%;
}
is equivivalent to ".row32"
.row32{
    display: flex;
    min-height: 45%;
    min-width: 45%;
}*/
/*
.col00 {
    display: flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
    align-items: flex-start;
}
.col01 {
    display: flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
}
.col02 {
    display: flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
}
.col10 {
    display: flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
}
.col11 {
    display: flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
}
.col12 {
    display: flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
}
.col20 {
    display: flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
}
.col21 {
    display: flex;
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
    align-items: flex-end;
}

.col22 {
    display: flex;
    align-items: flex-start;
}
*/
/* style for "details" element in "userVirtualization"
Link: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details 
Link1: https://css-tricks.com/how-to-animate-the-details-element/
Link2: https://css-tricks.com/put-a-background-on-open-details-elements/

For potential transition
Link3: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
Link4: https://www.joshwcomeau.com/animation/css-transitions/

Colors from bootstrap 5.1
Link5: https://getbootstrap.com/docs/5.1/customize/color/

Flex configurations
Link6: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container*/

/*
details {
    display: flex;
    align-items: flex-start;
    background: #0d6efd;
    cursor: pointer;
    color: #ffffff;
    width: 240px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
    
    
    
}


summary {
    font-weight: bold;
    background: #0d6efd;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
   
    
    
}*/
/*
details[open] .det1 .det2 {
    animation: animateDown 0.5s linear forwards;
  }
  
  @keyframes animateDown {
    0% {
      opacity: 0;
      transform: translatey(-15px);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }*/

/* border-radius:
Link: https://www.w3schools.com/css/css3_borders.asp

padding and margins 
Link2: https://developer.mozilla.org/en-US/docs/Web/CSS/padding-inline-end*/

/*
.det1 summary:hover{
    background: #809fff;
    border-radius: 0px;
    border: .8px solid;
    padding: 2px;
    overflow: clip;
    
    
}   
.det2 summary:hover{
    background: #809fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border:.8px solid;
    padding: 2px;
    overflow: clip;
    
    
}*/

/*
details {
    transition: all ease-out var(--details-transition-time, 0);
    max-height: var(--details-height-closed, auto);
}*/
  
/* removes the list arrow from the details dropdown title
Link: https://stackoverflow.com/questions/6195329/how-can-you-hide-the-arrow-that-is-displayed-by-default-on-the-html5-details-e*/

/* ">" selects element with a specifik parent
Link: https://www.geeksforgeeks.org/what-is-greater-than-sign-selector-in-css/*/

/*
details > summary {
    list-style: none;
    cursor: pointer;
}*/
